<div class="back_login">
<%= image_tag 'cardbackground.jpg' %>
</div>
<div class="container" style="width: 500px; text-align: center;">
<h2>Edit profile</h2>
<%= simple_form_for @profile, url: profile_path(@profile) do |f| %>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br>
<%= render 'profiles/form', f: f  %>
<% end %>
</div>
