<div id="modelcards">
  <center><h2>Models</h2></center>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <% @models.each do |m| %>
          <div class="card">
            <%= link_to profile_path(m.id) do %>
              <% if m.photos[0] == nil %>
                  <%= image_tag 'defaultcie.jpg' %>
              <% else %>
                  <%= cl_image_tag m.photos[0].path %>
              <% end %>
              <h3><%= m.username %></h3>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
