#concept-module {
  background-color: white;
  font-weight: lighter;
  font-size: 20px;
  height: 600px;

.svg {
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  stroke: #595959;
  stroke-width: 0.0001;
}

.concept-points {
  padding: 40px 40px 80px 40px;
  text-align: center;
}

#wait-pic {
  stroke-width: 1.2;
}

.concept-flex {
  display: flex;
}
}
