#discussion-module{
  background-color: white;
  font-weight: lighter;
  font-size: 20px;
  z-index: 3;
  h2 {
    padding: 0px;
  }
  .container {
    margin-top: 0px;
  }
  .response a{
    color: green;
    font-weight: bold;
  }
.project-desc {
  padding: 30px 0px;
}

.manage-project {
  padding: 30px 0px;
}

.banner {
  width: 100%;
}

.host{
  width: 1000px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0057 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 980px;
  max-width: 1000px;
  height: 424px;
  width: 100%;
  margin-left: 0px;
  background: #ffffff;
  color: #000000;
}
figure.snip0057 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip0057 .image {
  overflow: hidden;
  z-index: 1;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
figure.snip0057 .image img {
  position: relative;
  display: block;
  left: -15%;
  z-index: 1;
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
}
figure.snip0057:before {
  position: absolute;
  content: '';
  width: 45%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: skewX(-17deg);
  transform: skewX(-17deg);
  -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
}
figure.snip0057 figcaption {
  padding: 0px 30px 20px 20px;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 50%;
}
figure.snip0057 figcaption h2,
figure.snip0057 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}
figure.snip0057 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0057 figcaption h2 span {
  font-weight: 800;
}
figure.snip0057 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0057 figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip0057 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
  opacity: 0;
}
figure.snip0057 figcaption a {
  opacity: 0.3;
}
figure.snip0057 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0057 .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}
figure.snip0057.blue .position {
  background: #20638f;
}
figure.snip0057.red .position {
  background: #962d22;
}
figure.snip0057.yellow .position {
  background: #bf6516;
}
figure.snip0057:hover figcaption,
figure.snip0057.hover figcaption {
  bottom: 40px;
}
figure.snip0057:hover .icons i,
figure.snip0057.hover .icons i {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0057:hover:before,
figure.snip0057.hover:before {
  -webkit-animation: shadow 0.6s ease-in-out;
  animation: shadow 0.6s ease-in-out;
}
@-webkit-keyframes shadow {
  0% {
    left: 0px;
  }
  50% {
    left: -5px;
  }
  100% {
    left: 0px;
  }
}
@keyframes shadow {
  0% {
    left: 0px;
  }
  50% {
    left: -5px;
  }
  100% {
    left: 0px;
  }
}

.message .avatar-large {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: img;

    /* make a square container */
    width: 80px;
    height: 80px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    margin-left: 30px;
}

.messages{
  padding: 10px;
  font-size: smaller;
}
.message a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  padding: 0 20px;
  text-decoration: none;
  .username {
    width: 100px;
    word-wrap: break-word;
    text-align: center;
  }
  .avatar-large{
    margin: 5px 30px;
  }
}

.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  flex-grow: 1;
}
.message-name h3 {
  font-size: 30px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 20px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  margin-right: 0px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin-top: 0px 0;
}
.message-status {
  font-size: 14px;
  padding: 0 20px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.avatar-large img {
  height: 100px;
  border-radius: 50%;
}

}

#discussion-moduler{

body{
    background-color : white;
  background-size: cover;
}

label i[class^='icon-'] , label i[class*='icon-']{
    display: block;
    padding: 14px 0;
}

a:hover i[class^='icon-'] , a:hover i[class*='icon-']{
    color : #837D7D;
}

.containerrrr{
  width: 100%;
  background-image: asset-url('bp.jpg');
  background-size: cover;
  text-align: center;
  padding-bottom: 30px;
}

.containerrr{
    top: 50px;
    width: 402px;
    margin: 40px auto;
    position: relative;
    border: 1px solid #CFCFCF;
    overflow: hidden;
    background-color: #fff;
    border-radius: 7px;
}

.badboy{
    width: 0;
    height: 0;
    clear: both;
}

.bg-image{
    width: 402px;
    height: 157px;
    background-image: url('http://i.cubeupload.com/ksxXPp.png');
    position: relative;
    border-bottom: 1px solid #38393A;
}

.bg-image:before{
    content: '';
    position: absolute;
    width: 150px;
    height: 213px;
    background: -webkit-linear-gradient(rgba(240, 240, 240, 0.31) 22%, rgba(240, 237, 240, 0.22) 51%, rgba(214, 214, 214, 0.28) 80%);
    background: -moz-linear-gradient(rgba(240, 240, 240, 0.31) 22%, rgba(240, 237, 240, 0.22) 51%, rgba(214, 214, 214, 0.28) 80%);
    right: -56px;
    -webkit-transform: rotate(-43deg);
    -moz-transform: rotate(-48deg);
    top: -79px;

}

h3 {
    display: block;
    position: absolute;
    text-shadow : 0 -1px 2px #000;
    left: 10px;
    top: 14px;
    font-size : 16px;
    color : #F9F7F6;
    font-weight: normal;
}

.followe{
    background : -webkit-linear-gradient(rgb(112, 114, 119) 14%, rgb(101, 98, 98) 37%, rgb(80, 80, 81) 62%, rgb(65, 68, 67) 83%);
    background : -moz-linear-gradient(rgb(112, 114, 119) 14%, rgb(101, 98, 98) 37%, rgb(80, 80, 81) 62%, rgb(65, 68, 67) 83%);
    border-bottom: 1px solid #18191A;
}

.followe li{
    float: left;
  width: 201px;
    box-sizing : border-box;
    -moz-box-sizing : border-box;
}

.followe li:nth-child(1){
    border-right: 1px solid #2D3234;
}

.followe a{
    display: block;
    padding : 10px 0;
    text-decoration: none;
    color: #F5F5F5;
}

.followe span{
    display: block;
    text-align: center;
    color: #232323;
    margin-top: 50px;
    margin-bottom: 0px;
}

span#number{
    font-size: 20px;
    text-shadow: 0 -1px 2px #000;
}

span#followe{
    text-shadow: 0 -1px 2px #000;
    font-size: 15px;
}

.image{
    width: 120px;
    height: 120px;
    position: absolute;
    background: #F7F9F9;
    border: 1px solid #211410;
    top: 89px;
    left: 140px;
    border-radius: 50%;
}

.image:before{
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    background-image: url('http://i.cubeupload.com/Cocek1.png');
}

.image:after{
    content: '';
    position: absolute;
    width: 110px;
    height: 65px;
    border-radius: 90px 90px 0 0;
    background: rgba(255, 255, 255, 0.22);
    left: 29px;
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
}

label{
    display: inline-block;
    width: 134px;
    height: 52px;
    text-align: center;
    margin: 0 -2px;
    text-decoration: none;
    color : #9B9E8D;
    font-size: 22px;
    box-shadow: 0 2px 3px 0px #D8D7D7;
    position: relative;
    background: #fff;
    z-index: 1;
    -webkit-transition : all .25s ease;
    -moz-transition : all .25s ease;
}

label:hover{
    color: #767968;
}

.all:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 15px 0px 15px;
    border-color: rgb(255, 255, 255) rgba(255, 0, 0, 0) rgb(27, 169, 236) rgba(0, 0, 255, 0);
    left: 52px;
    z-index: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.all{
    width: 1208px;
}

.chat{
  background-color: white;
}

.chat .show-message{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

}

.chat .type-text{
    padding: 20px;
}

input[type='text']{
    border: 1px solid #CED3D9;
    margin: 13px 0 0 28px;
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    width: 235px;
    color : #A0A0A0;
}

button[type='submit']{
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 50px;
  font-weight: normal;
  font-family: Open Sans;
  background-color: #B9DE50;
}

button[type='submit']:hover{
    cursor: pointer;
}

button[type='submit']:hover #i{
    color : #fff;
}

.friend{
    float: left;
    margin: 30px 0 0 15px;
}

.me{
    float: right;
    margin : 20px 15px 0 0;
    align-self: flex-end;
}

.friend img , .me img{
    border-radius: 50%;
}

.friend img{
    float: left;
    margin: 10px 0 0 7px;
}

.me img{
    float: right;
    margin: 10px 7px 0 ;
}

.friend .message{
    margin: 2px 0 0 55px;
    padding: 20px 25px 10px 25px;
    padding: 10px;
    background: #e5e5e5;
    color: white;
    border-radius: 50px;
    width: 180px;
    position: relative;
}

.me .message{
    margin: 2px 51px 0 0;
    padding: 20px 25px 10px 25px;
    background: #CAEF61;
    color: white;
    border-radius: 50px;
    position: relative;
    max-width: 450px;
}

.friend p , .me p {
    font-size: 20px;
    line-height: 1;
}

.me p{
    color : white;
}

.friend p{
    color : white
}

#i{
    font-size: 25px;
    color: #E8E8E8;
    display: block;
    margin-top: 4px;
    -webkit-transition : all .25s ease;
    -moz-transition : all .25s ease;
}

label:hover{
    cursor: pointer;
}

input[type='radio']{
    display: none;
}

input[type='radio']:checked + label{
    color: #767968;
}

input[type='radio']#one:checked ~ .all{
    margin-left: 0px;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
}

.Description , .Link{
    width:402px;
    height:282px;
    float:left;
    padding: 10px 0;
    background : -webkit-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
    background : -moz-linear-gradient(rgb(242, 242, 243) 15%, rgb(240, 243, 241) 36%, rgb(241, 240, 241) 58%, rgb(236, 236, 236) 81%);
}

.Description  p {
    margin : 60px 0;
    text-align: center;
    line-height: 30px;
    color: #535252;
    font-size: 18px;
}

input[type='radio']#two:checked  ~  .all{
    margin-left: -403px;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
}

input[type='radio']#two:checked ~  .all:before{
    left: 183px;
}

input[type='radio']#three:checked  ~  .all{
    margin-left: -805px;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
}

input[type='radio']#three:checked ~  .all:before{
    left: 319px;
}

.menu{
    width: 350px;
    height: inherit;
    margin: 0 auto ;
}

ul{
    width: inherit;
    height: inherit;
    list-style: none;
}

.menu li{
    width: inherit;
    border-bottom : 1px solid rgb(235, 235, 235);
}

.menu li:nth-child(1){
    margin-top: 67px;
}

.menu li:last-child{
    border-bottom: 0;
}

.Link a{
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color : #4B4E43;
    font-size: 18px;
    text-align: center;
    text-shadow : 0 0 2px #4F5144;
    opacity: .7;
}

.Link a:hover{
    text-shadow : 0 0 0;
    opacity: 1;
}
}

.chat-stat {
  padding: 20px;
  color: #777;
  font-weight: lighter;
  border-bottom: 0.5px solid #ddd;
}

.send-butn {
  background-color: white;
  color: #777;
  // font-weight: lighter;
  border: 0.5px solid #bbb;
  border-radius: 50px;
}

.send-butn:hover {
  background-color: #eee;
}

.sendbox {
  border-top: 0.5px solid #ddd;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
