#home {
  .project-description{
    margin: 25px auto;
  }
  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100vh;
  }
  .no-video .video-container video,
  .touch .video-container video {
      display: none;
  }
  .no-video .video-container .poster,
  .touch .video-container .poster {
      display: block !important;
  }
  .video-container {
      position: absolute;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #000;
  }
  .video-container .poster img {
      width: 100%;
      bottom: 0;
      position: absolute;
  }


  .video-container video {
      top: 0;
  }
  .video-container video.fillWidth {
      width: 100%;
  }

  .tagline {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding-top: 200px;

    h1 {
      text-align: center;
      font-family: Raleway;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      font-size: 60px;
      color: #F2F2F2;
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    }

  }

  a .olivier {
    font-size: 30px;
    padding: 0px;
    margin: 2px;

  }

  .bmenu{
    z-index: 1;
    padding: 250px 0px;
    margin: 0 auto;
    position: relative;
    background: rgba(0,0,0,0);
    width: 500px;
    height: 400px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    position: absolute;
    top: 20%;
    width: 100%;
  }

  .bmenu:hover{
    background: rgba(0,0,0,0);
  }

  .bmenu li{
    font-size: 40px;
    display: block;
    line-height: 56px;
  }

  .bmenu li a{
    white-space: nowrap;
    color: transparent;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #fff;
    letter-spacing: 1px;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }

  .bmenu:hover li a{
    text-shadow: 0px 0px 10px #fff;
  }
  .bmenu li a:hover{
    text-shadow: none;
    text-decoration:none;
    color: #fff;
    background: rgba(0, 168, 232, 0.1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .btn-primary {
    bottom: 120px;
    margin: 0px auto;
    width: 150px;
    border-radius: 50px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 1px #565656;
    padding: 20px 18px 20px 18px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    line-height: normal;
    font-size: 26px;
    text-align: center;
    background: #B9DE50;
    a {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .btn-primary:hover {
    background-color: #A8CD40;
  }
}

.back_login img {
  position: absolute;
  top: 0px;
  z-index: -1;
  background-size: cover;
  width: 100%;
  opacity: 0.5;
}

.container {
  margin-top: 70px
}

h2 {
  padding: 50px 0px 30px 0px;
  font-size: 40px;
  font-family: 'Raleway';
}

h1 {
  text-align: right;
  font-size: 80px;
}

.formm{
  padding: 20px;
  padding-top: 40px;
  background-color: white;
  opacity: 0.7;
}


.conteneur{
  min-height:80vh;
}
.footer{
  height:10vh;
}
