#projects-module {
  background-color: white;
  font-weight: lighter;
  font-size: 20px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  h2 {
    padding: 0px;
  }
  .container {
    margin-top: 0px;
  }
}
