#profil {
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }

  .pics{
    display: flex;
    margin: 30px 0px 30px 0px;
      img{
      margin: 10px;
      padding: 1px;
      width: 150px;
      height: 150px;
    }
  }

  .description{
    margin: 10px 30px;
  }

  .prof-det {
    font-weight: lighter;
  }

  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    background-color: #eee;
    background-size: cover;
    border-top: 0.1px solid #4F4F4F;
  }
  .photos {
    padding: 50px 10px 50px 10px;
    background-color: white;
    opacity: 0.85;
    width: 420px;
    text-align: center;

  }

  .photos img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 20px;
    background: white;
  }

  h2 {
    background-color: #E8E8E8;
    width: 100%;
    font-family: Raleway;
    color: #232323;
    margin: 0px;
    padding-top: 0px;
    margin-top: 30px;
  }

  h3 {
    font-family: Raleway;
    color: #232323;
  }

  h4 {
    font-family: Raleway;
    color: #232323;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0px;
  }

  p {
    font-weight: lighter;
  }

  b {
    font-family: Raleway;
    color: #232323;
    font-size: 20px;
    padding-top: 120px;
  }

  a {
    font-family: Raleway;
    color: #232323;
    text-decoration: none;
  }

  c {
    color: #232323;
    font-family: Raleway;
  }

  .btn-edit {
  flex: 1 1 auto;
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-color: #B9DE50;
  border-radius: 50px;
  font-weight: normal;
 }

  .btn-edit:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  background-color: #A8CD40;
}

  .castors {
    background-color: white;
    font-family: Raleway;
  }
}

  .flex{
  display: flex;
  justify-content: center;
  }

  .radio_buttons label {
  /* width: 300px; */
  flex-basis: 100px;
  margin-bottom: 0;
  }

  .radio-inline{
  margin: 0px;
  }

