<center><br><h2>Roles</h2></center>
  <div id="discussion-module" style="border-radius: 50px">
    <% @roles.each do |r| %>
    <%= link_to cview_discussion_role_list_model_index_path(discussion_project_id: @discussion.project_id, role_id: r.id) do %>
    <div class="message">
      <div class="message-name" style="padding-left: 20px; padding-top: 0px; padding-bottom: 20px">
        <h3><%= r.name %>
        <% end %></h3>
      </div>
      <div class="message-status">
        <p class="status pending" style="padding-top: 40px; padding-left: 130px; padding-bottom: 20px">Pending</p>
      </div>
  </div><% end %>
</div>
