<div class="back_login" style="bottom: 0px">
<%=
# image_tag 'cardbackground.jpg'
%>
</div>
<div class="containerr" style="width: 100%; margin-top: 50px">
<div class="col-sm-12 col-md-6">
<h1>Edit the role</h1>
</div>
<div class="col-sm-12 col-md-6">
<div class="formm">
  <%= simple_form_for @role, url: cview_project_role_path(@project, @role) do |f| %>
  <%= render 'cview/roles/form', f: f %>
  <% end %>
</div>
</div>
</div>
