<<<<<<< HEAD
<div class="container">
  <h2>New role</h2>
  <%= render 'cview/roles/form' %>
</div>
=======
<h2>New role</h2>
<%= simple_form_for @role, url: cview_project_roles_path do |f| %>
<%= render 'cview/roles/form', f: f %>
<% end %>
>>>>>>> f4c49aa97891e223a8753fcbd66ddff6fb540875
