<div id="money-pic">
  <img src="https://picsum.photos/1900/600?image=513" alt="">
</div>

<div id="pricing-module">
  <div class=container>
      <div class="money-text">
        <h2>Will this make me rich ?</h2>

        We haven't got a crystal ball, but when hired you will earn min 30€ per hour. Administrative fees of 10% are in charge of the agencies, and Castors.co takes care of your payroll taxes and legal details.
      </div>

      <div class="button-container">
        <a href="#" id="btn" class="btn-2">I'm in !</a>
      </div>

  </div>
</div>
