 <div id="projects-module">
   <div class="container">
      <div id="project-div">

        <div class="col-xs-12 col-sm-6">
          <h2>What kind of projects <br> are on Castors.co ?</h2>
        </div>

        <div class="project-description col-xs-12 col-sm-6">
          All kinds of projects ! Castors are agencies and artists in your area. They create detailed projects with the roles they need for the shooting, so you will always know what you are hired for. Then, it's up to you to take the job or not. Most of the time, these are small projects that won't take you more than a few hours.
        </div>
      </div>
   </div>
 </div>
