 <div id="projects-module">
   <div class="container">

      <div class="col-xs-12 col-sm-6">
        <h2>What kind of projects <br> are on Castors.co ?</h2>
      </div>

      <div class="col-xs-12 col-sm-6">
        Castors are agencies and artists in your area. They create detailed projects with the roles they need for the shooting. <br> You can become an actor or figurant in a movie, as well as a model for a photoshoot. You can get hired if your profile match. Then, it's up to you to take the job or not.
      </div>
   </div>
 </div>
