.butn {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  font-weight: normal;
}

.butn:hover {
  opacity: 80%;
}

.butn-primary {
  background-color: #B9DE50;
}
